body {
  margin-left: 5%;
  padding: 0;
  background: #000000;
  color: #fff;
}

h1 {
  text-transform: uppercase;
  color: red;
}

.dart {
  margin-top: 20px;
}

.text {
  margin-top: 20px;
  border: 3px solid red;
  border-radius: 8px;
  padding: 3%;
}

.name {
  font-weight: normal;
}

span {
  text-transform: uppercase;
  font-weight: bold;
  color: red;
}

p, li {
  color: #fff;
}

img {
  width: 100px;
  height: auto;
  border: 3px solid red;
  border-radius: 8px;
}