body {
	text-align: center;
	font-weight: bold;
	font-family: Arial, sans-serif;
}

h1 {
	margin-top: 60px;
}

span {
	color: #fd58b2;
}

.first-block {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	margin-top: 36px;
}

.first-pic {
	margin-right: 155px;
}

.two-pic {
	margin-left: 155px;
}

.first-text,
.two-text {
	font-size: 16px;
	line-height: 22px;
}

.two-block {
	display: inline-block;
	vertical-align: top;
	width: 200px;
}